/AG3DBC/bak/*.suo
/AG3DBC/bin/Debug
/AG3DBC/bin/Release
/AG3DBC/obj
/AG3DBC/Backup/*.suo
/AG3DBC/*.suo
/AG3DBC/.vs
/AG3DBC/packages/ICSharpCode.SharpZipLib.dll.0.85.4.369
/libAG3DBCrevival/bin/Debug
/libAG3DBCrevival/obj/Debug
/rebuilder/.idea
/rebuilder/*.iml
/rebuilder/src/main/resources/sql.properties
/rebuilder/target/classes
/rebuilder/target/test-classes/moe/yo3explorer/ag3dbRebuild/business/control/*.class
/rebuilder/target/maven-status/maven-compiler-plugin/compile/default-compile
