/AG3DBC/bak/*.suo
/AG3DBC/bin/Debug
/AG3DBC/bin/Release
/AG3DBC/obj
/AG3DBC/Backup/*.suo
/AG3DBC/*.suo
/AG3DBC/.vs
/AG3DBC/packages/ICSharpCode.SharpZipLib.dll.0.85.4.369
/libAG3DBCrevival/bin/Debug
/libAG3DBCrevival/obj/Debug
